<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="openMainMenu()">
        <ion-icon name="person-outline" color="main"></ion-icon>
        <ion-icon name="chevron-down-outline" color="main"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-img src="../../assets/logo.png" style="height: 25px" class="m-auto" [routerLink]="['home']"></ion-img>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/ride-search" routerLinkActive="router-link-active">
        <ion-icon name="search-outline" color="main"></ion-icon>
      </ion-button>
      <ion-button routerLink="/user/ride-publish" *ngIf="loggedIn">
        <ion-icon name="add-circle-outline" color="main"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu menuId="main-menu-auth" contentId="main">
  <ion-content class="ion-padding" *ngIf="!loggedIn">
    <ion-list>
      <ion-item (click)="closeMainMenu()" routerLink="/login" detail>
        <ion-icon class="me-2" name="log-in-outline" color="main"></ion-icon>
        <ion-nav-link>Prijava</ion-nav-link>
      </ion-item>
      <ion-item (click)="closeMainMenu()" detail>
        <ion-icon class="me-2" name="person-add-outline" color="main"></ion-icon>
        <ion-nav-link routerLink="/register">Registracija</ion-nav-link>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-content class="ion-padding" *ngIf="loggedIn">
    <ion-list>
      <ion-item (click)="closeMainMenu()" routerLink="/user/profile" detail>
        <ion-icon class="me-2" name="person-outline" color="main"></ion-icon>
        <ion-nav-link>Profil</ion-nav-link>
      </ion-item>
      <ion-item (click)="closeMainMenu()" routerLink="/user/password-change" detail>
        <ion-icon class="me-2" name="document-lock-outline" color="main"></ion-icon>
        <ion-nav-link>Promjena lozinke</ion-nav-link>
      </ion-item>
      <ion-item (click)="closeMainMenu()" routerLink="user/vehicles" detail>
        <ion-icon class="me-2" name="car-outline" color="main"></ion-icon>
        <ion-nav-link>Vozila</ion-nav-link>
      </ion-item>
      <ion-item (click)="closeMainMenu()" routerLink="user/rides" detail>
        <ion-icon class="me-2" name="speedometer-outline" color="main"></ion-icon>
        <ion-nav-link>Vožnje</ion-nav-link>
      </ion-item>
      <ion-item (click)="closeMainMenu()" routerLink="user/ride-requests" detail>
        <ion-icon class="me-2" name="reader-outline" color="main"></ion-icon>
        <ion-nav-link>Zahtjevi / prijave</ion-nav-link>
      </ion-item>
      <ion-item (click)="closeMainMenu()" detail>
        <ion-icon class="me-2" name="stats-chart-outline" color="main"></ion-icon>
        <ion-nav-link>Bodovi</ion-nav-link>
      </ion-item>
      <ion-item (click)="closeMainMenu()" detail>
        <ion-icon class="me-2" name="star-outline" color="main"></ion-icon>
        <ion-nav-link>Ocjene</ion-nav-link>
      </ion-item>
      <ion-item (click)="closeMainMenu(); logout()" detail>
        <ion-icon class="me-2" name="log-out-outline" color="main"></ion-icon>
        Odjava
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
