<ion-content>
  <ion-item lines="none" *ngIf="!contentLoaded">
    <ion-spinner color="main" class="m-auto mt-4"></ion-spinner>
  </ion-item>

  <ion-content>
    <ion-list>
      <ion-item lines="none">
        <h2 class="fw-bold">Promjena lozinke</h2>
      </ion-item>
      <form [formGroup]="passwordUpdateForm">
        <!-- <ion-item>
          <ion-input type="password" placeholder="Trenutna lozinka" formControlName="currentPassword" clearInput>
          </ion-input>
        </ion-item> -->
        <ion-item>
          <ion-input type="password" placeholder="Nova lozinka" formControlName="newPassword" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Potvrda nove lozinke" formControlName="newPasswordConfirmation"
            clearInput></ion-input>
        </ion-item>
        <ion-button class="d-block m-auto mt-2 w-50" [disabled]="passwordUpdateForm.invalid" color="main" shape="round"
          (click)="updatePassword()">
          Ažuriraj lozinku</ion-button>
      </form>
    </ion-list>
  </ion-content>
