<ion-content>
  <ion-item lines="none">
    <h2 class="fw-bold">Postani vozač Kudces.ba i uštedi na putnim troškovima tako što ćeš podijeliti prijevoz s
      putnicima.</h2>
  </ion-item>

  <ion-item lines="none">
    <ion-card class="w-100">
      <ion-card-content>
        <ion-item detail (click)="presentModal('start')">
          <ion-icon class="me-2" name="location-outline" color="secondary"></ion-icon>
          <ion-input type="text" placeholder="Polazište" value="{{start}}" clearInput readonly>
          </ion-input>
        </ion-item>
        <ion-item detail (click)="presentModal('dest')">
          <ion-icon class="me-2" name="location-outline" color="main"></ion-icon>
          <ion-input type="text" placeholder="Odredište" value="{{destination}}" readonly>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon class="me-2" name="people-outline" color="main"></ion-icon>
          <ion-input type="number" placeholder="2 putnika" min="1"></ion-input>
        </ion-item>
        <ion-item class="my-2" lines="none">
          <h2 class="fw-bold">Uštedi do 50 KM na svom prvom prijevozu.</h2>
        </ion-item>
        <ion-button expand="block" color="main">
          objavi prijevoz
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-list lines="none">
    <ion-item>
      <h2 class="fw-bold text-center">Najbolje u svijetu dijeljenja prijevoza uz Kudces.ba</h2>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon class="d-block m-auto" name="wallet-outline" color="main" size="large"></ion-icon>
            <h4 class="text-center">Uštedi na putnim troškovima</h4>
            <p>Podijeli prijevoz s putnicima koji su ti usput i uštedi svaki put kad putuješ automobilom. Prijavi se kao
              vozač i već danas počni štedjeti na putnim troškovima.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon class="d-block m-auto" name="people-circle-outline" color="main" size="large"></ion-icon>
            <h4 class="text-center">Pridruži se našoj pouzdanoj zajednici</h4>
            <p>Poznajemo svakog našeg člana, i vozače i putnike. Provjeravamo ocjene, profile i dokumente tako da i ti
              točno znaš s kim ćeš putovati.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon class="d-block m-auto" name="rocket-outline" color="main" size="large"></ion-icon>
            <h4 class="text-center">Jednostavno dijeljenje prijevoza</h4>
            <p>Naša tehnologija omogućuje da cijelo iskustvo s BlaBlaCarom bude jednostavno, tako da možeš brzo pronaći
              i upoznati putnike koji su ti usput.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-item>
      <h2 class="fw-bold text-center">S tobom smo na svakom koraku</h2>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon class="d-block m-auto" name="chatbubbles-outline" color="main" size="large"></ion-icon>
            <h4 class="text-center">Na usluzi 0 - 24</h4>
            <p>Podijeli prijevoz s putnicima koji su ti usput i uštedi svaki put kad putuješ automobilom. Prijavi se kao
              vozač i već danas počni štedjeti na putnim troškovima.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon class="d-block m-auto" name="car-outline" color="main" size="large"></ion-icon>
            <h4 class="text-center">Kudces.ba je iz tebe</h4>
            <p>Naša tehnologija omogućuje da cijelo iskustvo s BlaBlaCarom bude jednostavno, tako da možeš brzo pronaći
              i upoznati putnike koji su ti usput.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon class="d-block m-auto" name="shield-checkmark-outline" color="main" size="large"></ion-icon>
            <h4 class="text-center">100% sigurni podaci</h4>
            <p>Poznajemo svakog našeg člana, i vozače i putnike. Provjeravamo ocjene, profile i dokumente tako da i ti
              točno znaš s kim ćeš putovati.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
