<ion-content>
  <ion-item lines="none">
    <h2 class="fw-bold">Zaboravljena lozinka? <br> Upiši email i poslat ćemo ti poveznicu.</h2>
  </ion-item>
  <form [formGroup]="passwordResetForm">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email" clearInput></ion-input>
    </ion-item>
    <ion-button class="d-block m-auto mt-2 w-50" shape="round" color="main" [disabled]="passwordResetForm.invalid"
      (click)="resetPassword()">
      Pošalji email
    </ion-button>
  </form>
</ion-content>
