<ion-content>
  <ion-item lines="none">
    <ion-searchbar clearIcon="always" value="{{start}} {{destination}}"></ion-searchbar>
  </ion-item>
  <ion-item lines="none" class="ion-padding">
    {{start}}
    <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
    {{destination}}:
    dostupno {{rides.length}} prijevoza.
  </ion-item>

  <ion-list lines="none">
    <ion-item *ngFor="let ride of rides" routerLink="/ride-info/{{ride.id}}/{{ride.start}}/{{ride.destination}}">
      <ion-card class="w-100 ion-padding">
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="text-dark fw-bold">{{ride.startTime}}</ion-col>
            <ion-col size="6" class="text-dark fw-bold">{{ride.start}}</ion-col>
            <ion-col size="3" class="text-dark fw-bold ">{{ride.price}} KM</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6" class="text-dark fw-bold border-start border-dark">
              <ion-icon name="walk-outline" size="large" color="success"></ion-icon>
              <ion-icon name="walk-outline" size="large"></ion-icon>
              <ion-icon name="walk-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" class="text-dark fw-bold">{{ride.endTime}}</ion-col>
            <ion-col size="6" class="text-dark fw-bold">{{ride.destination}}</ion-col>
            <ion-col size="3" class="text-dark fw-bold"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6" class="text-dark ">
              <ion-icon name="walk-outline" size="large"></ion-icon>
              <ion-icon name="walk-outline" size="large"></ion-icon>
              <ion-icon name="walk-outline" size="large" color="danger"></ion-icon>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-avatar slot="start">
            <img src="{{ride.driver.image}}">
          </ion-avatar>
          <ion-label>
            <h3 class="text-dark fw-bold">{{ride.driver.name}}</h3>
            <p>
              <ion-icon name="star-outline"></ion-icon> {{ride.driver.rating}}
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>

  <app-footer></app-footer>
</ion-content>