<ion-content>
  <ion-list lines="none">
    <ion-item>
      <h2 class="fw-bold">O nama</h2>
    </ion-item>
    <ion-item class="ion-text-justify">
      Kudćeš.ba je autostop savremenog doba.
      <br>
      Ova platforma na brz i jednostavan način povezuje vozače koji imaju
      slobodna mjesta u vozilu, s jedne strane i putnike koji traže prijevoz, s druge strane, u cilju smanjenja
      troškova prijevoza.
      <br>
      Pored uštede novca Kudćeš.ba pruža i niz drugih prednosti:
    </ion-item>
    <ion-item>
      <ul>
        <li>Besplatnu i jednostavnu registraciju korisnika u sistemu Kudćeš.ba</li>
        <li>Visoku korisničku uslugu platforme</li>
        <li>Efikasnu potragu i rezervaciju vožnje</li>
        <li>Putovanje u društvu</li>
        <li>
          Fleksibilno vrijeme polaska
        </li>
        <li>
          Brz dolazak na željenu destinaciju
        </li>
        <li>
          Vožnja bez presjedanja
        </li>
        <li>
          Udobnost i sigurnost
        </li>
        <li>
          Očuvanje okoliša
        </li>
        <li>
          Mogućnost spontanih putovanja uz minimalne troškove
        </li>
      </ul>
    </ion-item>
    <ion-item>
      <h4 class="fw-bold text-decoration-underline">Kako funkcioniše Kudćeš.ba?</h4>
    </ion-item>
    <ion-item class="fw-bold">
      Pronađi vožnju
    </ion-item>
    <ion-item class="ion-text-justify">
      Prvi korak je registracija putnika u sistemu Kudćeš.ba.
      <br>
      Nakon verifikacije od strane administratora, potrebno je unijeti polaznu i odredišnu tačku (planiranu rutu),
      datum putovanja, te izabrati vozača koji vozi izabranom rutom.
      <br>
      Prije rezervacije sistem nudi i mogućnost pregleda odnosno provjere profila vozača (fotografije, informacije o
      vozilu i ocjene odnosno preporuke putnika koji su se vozili s odabranim vozačem).
    </ion-item>
    <ion-item routerLink="/register" detail>
      <ion-text color="main">
        Registruj se sad → BESPLATNA REGISTRACIJA
      </ion-text>
    </ion-item>
    <ion-item class="fw-bold">
      Rezervisanje mjesta
    </ion-item>
    <ion-item class="ion-text-justify">
      U sistemu odaberite željenu rutu, unesite broj potrebnih mjesta i klikom na "rezerviši" prijavite se za vožnju u
      željenom pravcu.
      <br>
      Nakon rezervacije putnik putem sms-a zaprima kontakt telefon vozača, dok isti putem SMS-a biva obaviješten o samoj
      rezervaciji uz dostavu kontakt telefona putnika (besplatna usluga).
    </ion-item>
    <ion-item class="fw-bold">
      Putujte zajedno
    </ion-item>
    <ion-item class="ion-text-justify">
      Nakon rezervacije putnik i vozač stupaju u kontakt i dogovaraju pojedinosti oko prevoza, čime preuzimaju obavezu
      da se na dogovorenom mjestu i u dogovoreno vrijeme pojave, kako bi realizovali ugovoreni prevoz.
      <br>
      Nakon zajedničkog putovanja sistem nudi putnicima mogućnost da vozača ocijene odnosno ostave dojam.
    </ion-item>
    <ion-item>
      <h4 class="fw-bold text-decoration-underline">Sigurnost</h4>
    </ion-item>
    <ion-item class="ion-text-justify">
      <ul>
        <li>
          Verifikacija vozača se vrši tako što administrator stranice prilikom registracije vozača provjerava relevantnu
          dokumentaciju automobila, registarske tablice i identitet vozača.
        </li>
        <li>
          Svi brojevi telefona su verifikovani
        </li>
      </ul>
    </ion-item>
    <ion-item class="fw-bold">
      Sigurnost za žene
    </ion-item>
    <ion-item class="ion-text-justify">
      Kudćeš.ba nudi i mogućnost putovanja "Samo dame". Ovdje se pruža mogućnost vozačicama i putnicama da međusobno
      dogovaraju dijeljenje vožnje, odnosno biraju svoje saputnike. Ovo je sjajan način da se žene osjećaju sigurnije.
    </ion-item>
    <ion-item>
      <h4 class="fw-bold text-decoration-underline">Objavljivanje vožnje</h4>
    </ion-item>
    <ion-item class="ion-text-justify">
      <ol>
        <li>
          <span class="fw-bold">
            Ponudi svoj prijevoz online
          </span>
          <br>
          Prvi korak je registracija vozača u sistemu Kudćeš.ba.
          <br>
          Nakon verifikacije od strane administratora, potrebno je unijeti polaznu i odredišnu tačku odnosno planiranu
          rutu, zatim datum i vrijeme polaska.
          <br>
          Kudćeš.ba automatski predlaže optimalnu cijenu obračunatu po jednom putniku ( cijena formirana na osnovu
          udaljenosti između polazne i odredišne tačke, amortizaciji automibila i eventualnim putarinama), ali nudi i
          mogućnost samostalnog kreiranja cijene.
        </li>
        <li>
          <span class="fw-bold">
            Prijavljivanje putnika
          </span>
          <br>
          O broju prijavljenih putnika i rezervaciji svaki vozač biva blagovremeno, putem SMS-a obaviješten. Uz
          obavještenje se dostavlja i kontakt telefon prijavljenih putnika.
          <br>
          Nakon zaprimljenog obavještenja potrebno je što prije stupiti u kontakt sa putnicima kako bi se dogovorili o
          detaljima vožnje. Vozačima se u sistemu nudi i mogućnost pregledanja profila prijavljenih putnika, u cilju
          lakšeg prepoznavanja.
        </li>
        <li>
          <span class="fw-bold">
            Putujete zajedno </span>
          <br>
          Vozači i putnici su dužni pojaviti se na dogovorenom mjestu i u dogovoreno vrijeme. U slučaju neplaniranog
          kašnjenja potrebno je obavijestiti putnike.
        </li>
        <li>
          <span class="fw-bold">
            Plaćanje usluge
          </span>
          <br>
          Za plaćanje troškova prevoza potrebno je osigurati tačan iznos prije samog polaska.
          <br>
          Dogovoreni iznos se plaća po dolasku na odredište ili u toku vožnje zavisno od želje putnika.
          <br>
          Nakon zajedničkog putovanja sistem nudi vozačima mogućnost da svoje saputnike ocijene odnosno ostave dojam.
        </li>
      </ol>
    </ion-item>
    <ion-item>
      <h4 class="fw-bold text-decoration-underline">
        Naplata za korištenje portala
      </h4>
    </ion-item>
    <ion-item class="ion-text-justify">
      Korištenje platforme Kudćeš.ba i registrovanje na istu je besplatno.
    </ion-item>
    <ion-item>
      <h4 class="fw-bold text-decoration-underline">
        Registracija
      </h4>
    </ion-item>
    <ion-item class="ion-text-justify">
      Registruj se na platformi Kudćeš.ba i počni koristiti sve podobnosti savremenog autostopa.
    </ion-item>
    <ion-item class="ion-text-justify" routerLink="/register" detail>
      <ion-text color="main">
        Registracija
      </ion-text>
    </ion-item>
  </ion-list>
  <app-footer></app-footer>
</ion-content>
