<ion-content>
  <ion-list lines="none">
    <ion-item>
      <h2 class="fw-bold">Zaštita podataka</h2>
    </ion-item>
    <ion-item class="fw-bold">
      Lični podatak
    </ion-item>
    <ion-item class="ion-text-justify">
      Lični podatak je svaka informacija koja se odnosi na identificiranu osobu, odnosno osobu koja se može izravno ili
      neizravno identificirati (npr. ime i prezime, adresa, broj telefona, adresa elektroničke pošte i sl.).
    </ion-item>
    <ion-item class="fw-bold">
      Svrha prikupljanja
    </ion-item>
    <ion-item class="ion-text-justify">
      Lične podatke prikupljamo u svrhu poboljšanja kvalitete sadržaja, funkcionalnosti i usluga na platformi kako bismo
      mogli udovoljiti vašim interesima i potrebama, kako bismo vas informisali o postojećim i novim sadržajima,
      funkcionalnostima i uslugama. Osim toga, registracija na platformi je obavezna kako bi se usluge platforme mogle
      koristiti.
    </ion-item>
    <ion-item class="fw-bold">
      Koje podatke obrađujemo
    </ion-item>
    <ion-item class="ion-text-justify">
      Ne obrađujemo više ličnih podataka no što je doista potrebno za vaše sudjelovanje u nekoj aktivnosti na ovoj
      platformi. Prilikom vaše registracije možemo obrađivati sljedeće lične podatke: vaše korisničko ime, lozinku, ime
      i prezime, e-mail adresu i telefon).
    </ion-item>
    <ion-item class="fw-bold">
      Brisanje i pristup podacima
    </ion-item>
    <ion-item class="ion-text-justify">
      Vaše lične podatke koje ste nam učinili dostupnima prilikom registracije spremat ćemo za vrijeme postojanja web
      stranice Kudćeš.ba, odnosno za vrijeme trajanja vaše registracije.
    </ion-item>
    <ion-item class="fw-bold">
      Ograničenje odgovornosti
    </ion-item>
    <ion-item class="ion-text-justify">
      Iako poduzimamo dostupne tehničke, organizacijske i kadrovske mjere zaštite ličnih podataka od slučajne ili
      namjerne zlouporabe, uništenja, gubitka, neovlaštene promjene ili dostupa ne možemo jamčiti da neki od ličnih
      podataka koje prikupljamo neće nikada biti slučajno otkriveni, suprotno pravilima za zaštitu privatnosti.
    </ion-item>
    <ion-item class="fw-bold">
      Sigurnost podataka
    </ion-item>
    <ion-item class="ion-text-justify">
      Radi sigurnosti podataka na web stranici Kudćeš.ba te kako bismo osigurali da sadržaji, funkcionalnosti i usluge
      web stranice Kudćeš.ba budu pristupačni svim korisnicima, ovaj sistem koristi programe koji prate posjete na mreži
      te prepoznaje neovlaštene pokušaje otpreme ili izmjene podataka, kao i one koji bi mogli prouzročiti štetu na neki
      drugi način. Neovlašteni pokušaji otpreme ili izmjene podataka na web stranici Kudćeš.ba strogo su zabranjeni.
    </ion-item>
  </ion-list>
  <app-footer></app-footer>
</ion-content>
