<ion-content>
  <ion-item lines="none">
    <h2 class="fw-bold">Kako želiš da te se oslovljava?</h2>
  </ion-item>
  <form action="">
    <ion-list lines="none">
      <ion-item routerLink="/register/password" detail>
        <ion-icon name="male-outline" color="main" class="me-2"></ion-icon>
        <ion-label>
          Muškarac
        </ion-label>
      </ion-item>
      <ion-item routerLink="/register/password" detail>
        <ion-icon name="female-outline" color="main" class="me-2"></ion-icon>
        <ion-label>
          Žena
        </ion-label>
      </ion-item>
      <ion-item routerLink="/register/password" detail>
        <ion-icon name="male-female-outline" color="main" class="me-2"></ion-icon>
        <ion-label>
          Ne želim se opredjeliti
        </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
