<ion-text class="ion-text-center" color="light">
  <h2 class="fw-bold">Kamo se želiš odvesti?</h2>
</ion-text>
<ion-list lines="none">
  <ion-item detail class="ion-padding test" *ngFor="let drive of commonDrives"
    routerLink="/ride-share/{{drive.start}}/{{drive.destination}}" routerLinkActive="router-link-active">
    {{drive.start}}
    <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
    {{drive.destination}}
    <ion-note slot="end">{{drive.distance}} KM</ion-note>
  </ion-item>
</ion-list>
<ion-text color="secondary" class="ion-text-end" (click)="showDrives()">
  <p *ngIf="showAllDrives">Pogledaj naše najpopularnije prijevoze</p>
  <p *ngIf="!showAllDrives">Pogledaj manje prijevoza</p>
</ion-text>
