<ion-text class="ion-text-center" color="light">
  <h2 class="fw-bold">Kamo se želiš odvesti?</h2>
</ion-text>
<ion-list lines="none">
  <ion-item detail class="ion-padding test">
    Zagreb
    <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
    Split
    <ion-note slot="end">90km</ion-note>
  </ion-item>
  <ion-item detail class="ion-padding">
    Zagreb
    <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
    Split
    <ion-note slot="end">90km</ion-note>
  </ion-item>
  <ion-item detail class="ion-padding">
    Zagreb
    <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
    Split
    <ion-note slot="end">90km</ion-note>
  </ion-item>
</ion-list>
<ion-text color="primary" class="ion-text-end">
  <p>Pogledaj naše najpopularnije prijevoze</p>
</ion-text>
