<ion-content class="ion-padding">
  <h2>Kako se zoveš?</h2>
  <form action="">
  <ion-item>
    <ion-input type="text" placeholder="Ime"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Prezime"></ion-input>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/register/name']" routerLinkActive="router-link-active" >
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</form>
</ion-content>
