<ion-content>
  <ion-item lines="none">
    <h2 class="fw-bold">Na koji se način želiš prijaviti?</h2>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-nav-link>Nastavi s Facebookom</ion-nav-link>
    </ion-item>
    <ion-item>
      <ion-nav-link routerLink="/login/email" routerLinkActive="router-link-active">Nastavi s e-poštom</ion-nav-link>
    </ion-item>
    <ion-item>
      <ion-text class="me-1"> Još nisi član? </ion-text>
      <ion-text routerLink="/register" routerLinkActive="router-link-active" color="main">
        Registruj se
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
