<ion-content class="ion-padding">
  <h2 class="fw-bold">Kamo želiš ići?</h2>
  <form action="">
    <ion-item>
      <ion-input type="text" placeholder="Otkud polazim" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Kamo idem" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-datetime
              displayFormat="DD MM YYYY"
              placeholder="Izaberi datum"
            ></ion-datetime>
          </ion-col>
          <ion-col>
            <ion-input
              placeholder="Broj putnika"
              type="number"
              inputmode="numberic"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>Prijava</ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
