<ion-content>
  <ion-list lines="none">
    <ion-item>
      <h2 class="fw-bold">Tačnost podataka</h2>
    </ion-item>
    <ion-item class="ion-text-justify">
      Svi korisnici u svrhe korištenja platforme moraju biti registrovani korisnici. Podatke koji se unose prilikom
      registracije provjeravaju administratori i u slučaju nevalidnosti podataka administratori su ovlašteni za
      uklanjanje tog lica sa stranice Kudćeš.ba
      <br>
      Svi korisnici moraju verifikovati svoju email adresu kao i broj telefona. Registracija nije moguća bez validacije
      emaila, dok validacija ostalih podataka direktno utiče na poudanost i popularnost osobe na stranici.
      <br>
      Verifikaciju podataka o automobilu obavljaju administratori. Lice sa netačnim podacima će biti uklonjeno sa
      stranice.
    </ion-item>
  </ion-list>
  <app-footer></app-footer>
</ion-content>
