<ion-content class="ion-padding">
<h2 >Tvoj email?</h2>
<form>
  <ion-item class="ion-margin-bottom">
    <ion-input type="email" placeholder="Email" clearInput></ion-input>
  </ion-item>
  <ion-label>Ne želim od Kudćeš.ba dobivati novosti, super ponude i besplatne stvari.</ion-label>
  <ion-checkbox> </ion-checkbox>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/register/name']" routerLinkActive="router-link-active" >
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</form>
</ion-content>
