<ion-content>
  <ion-item lines="none">
    <h2 class="fw-bold">Tvoj email?</h2>
  </ion-item>
  <form>
    <ion-item>
      <ion-input type="email" placeholder="Email" clearInput></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Ne želim od Kudćeš.ba dobivati novosti, <br> super ponude i besplatne stvari.</ion-label>
      <ion-checkbox color="main"> </ion-checkbox>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/register/name" color="main">
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
