<ion-content>
  <ion-item lines="none">
    <h2 class="fw-bold">Trebati ćeš i lozinku</h2>
  </ion-item>
  <form action="">
    <ion-item>
      <ion-input type="password" placeholder="Lozinka"></ion-input>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/register/birthdate" routerLinkActive="router-link-active" color="main">
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
