<ion-content class="ion-padding">
  <h2 class="fw-bold">Tvoj email i lozinka?</h2>
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password" formControlName="password" clearInput></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Zapamti me</ion-label>
      <ion-checkbox color="main"></ion-checkbox>
    </ion-item>
    <ion-item lines="none">
      <ion-text routerLink="/login/password-forgot" color="main">
        Zaboravljena lozinka
      </ion-text>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="main" disabled={{loginForm.invalid}} (click)="login()">Prijava</ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
