<ion-content>
  <ion-item lines="none">
    <h2 class="fw-bold">
      <!-- Pozdrav, {{user.first_name}} -->
      Osobni podaci
    </h2>
  </ion-item>

  <ion-list lines="none" class="mt-3">
    <ion-item (click)="presentModal('firstName')" detail>
      <ion-text>
        Ime:
      </ion-text>
      <ion-text class="ms-2" color="main">{{currentUser.first_name}}</ion-text>
    </ion-item>
    <ion-item (click)="presentModal('lastName')" detail>
      <ion-text>
        Prezime:
      </ion-text>
      <ion-text class="ms-2" color="main">{{currentUser.last_name}}</ion-text>
    </ion-item>
    <ion-item (click)="presentModal('username')" detail>
      <ion-text>
        Username:
      </ion-text>
      <ion-text class="ms-2" color="main">{{currentUser.username}}</ion-text>
    </ion-item>
    <!-- <ion-item>
      <ion-text>
        Spol:
      </ion-text>
      <ion-text class="ms-2" color="main">Muškarac</ion-text>
    </ion-item> -->
    <!-- <ion-item>
      <ion-text>
        Datum rođenja:
      </ion-text>
      <ion-text class="ms-2" color="main">14/03/1993</ion-text>
    </ion-item> -->
  </ion-list>

  <!-- <app-footer></app-footer> -->
</ion-content>
