<ion-footer>
  <ion-list lines="none">
    <ion-item>
      <ion-nav-link class="w-100 ion-text-center" [routerLink]="['home']" routerLinkActive="router-link-active">O nama
      </ion-nav-link>
    </ion-item>
    <ion-item>
      <ion-nav-link class="w-100 ion-text-center" [routerLink]="['home']" routerLinkActive="router-link-active">FAQ
      </ion-nav-link>
    </ion-item>
    <ion-item>
      <ion-nav-link class="w-100 ion-text-center" [routerLink]="['home']" routerLinkActive="router-link-active">Kontakt
      </ion-nav-link>
     </ion-item>
  </ion-list>
</ion-footer>
