<ion-content>
  <form [formGroup]="newVehicleForm">
    <ion-item lines="none">
      <h2 class="fw-bold">
        {{vehicle ? 'Uredi vozilo' : 'Dodaj vozilo'}}
      </h2>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Proizvođač" formControlName="manufacturer" clearInput>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Model" formControlName="model" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Boja" formControlName="color" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Broj sjedala" formControlName="seats" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tip vozila</ion-label>
      <ion-select placeholder="Izaberi" formControlName="vehicleType" cancelText="nazad">
        <ion-select-option [value]="vehicleType.id" *ngFor="let vehicleType of vehicleTypes">{{vehicleType.caption}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button class="d-block m-auto mt-2 w-50" [disabled]="newVehicleForm.invalid" color="main" shape="round"
      (click)="submitForm()">
      {{vehicle ? 'Ažuriraj': 'Spremi'}}</ion-button>
    <ion-item lines="none" (click)="dismiss(false)">
      <ion-icon class="me-2" name="chevron-back-outline" color="main"></ion-icon>
      <ion-text color="main">
        Idi nazad
      </ion-text>
    </ion-item>
  </form>
</ion-content>
