.hero-section {
  background-image: url("../../assets/cover.png");
  background-size: cover;
  min-height: 200px;
}

.from-to-container {
  position: relative;
  top: 100px;
}

.drives-container,
.drives-container ion-list {
  background-color: var(--ion-color-dark);
}

.drives-container ion-item {
  --border-radius: 1rem;
}
