<ion-content>
  <div class="hero-section ion-padding">
    <ion-text class="ion-text-center">
      <h2 class="fw-bold text-white">Tvoj prijevoz. Tvoj izbor.</h2>
    </ion-text>
    <ion-card class="from-to-container">
      <ion-card-content>
        <ion-item>
          <ion-input placeholder="Putujem iz...."></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Putujem za...."></ion-input>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-datetime
                  displayFormat="DD MM YYYY"
                  placeholder="Izaberi datum"
                ></ion-datetime>
              </ion-col>
              <ion-col>
                <ion-datetime
                  displayFormat="DD MM YYYY"
                  placeholder="Izaberi datum"
                ></ion-datetime>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-button expand="block">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="ion-padding mt-5">
    <ion-text class="ion-text-center">
      <h2 class="fw-bold">Kamo voziš?</h2>
    </ion-text>
    <ion-text>
      <p>Neka ovo bude tvoje najmanje skupo putovanje u povijesti.</p>
    </ion-text>
    <ion-button shape="round" fill="solid" expand="block"
      >Ponudi prijevoz
    </ion-button>
  </div>

  <div class="ion-padding drives-container">
    <ion-text class="ion-text-center" color="light">
      <h2 class="fw-bold">Kamo se želiš odvesti?</h2>
    </ion-text>
    <ion-list lines="none">
      <ion-item detail class="ion-padding test">
        Zagreb
        <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
        Split
        <ion-note slot="end">90km</ion-note>
      </ion-item>
      <ion-item detail class="ion-padding">
        Zagreb
        <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
        Split
        <ion-note slot="end">90km</ion-note>
      </ion-item>
      <ion-item detail class="ion-padding">
        Zagreb
        <ion-icon name="arrow-forward-outline" size="small"></ion-icon>
        Split
        <ion-note slot="end">90km</ion-note>
      </ion-item>
    </ion-list>
    <ion-text color="primary" class="ion-text-end">
      <p>Pogledaj naše najpopularnije prijevoze</p>
    </ion-text>
  </div>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="ion-text-center">
            <h2 class="fw-bold">
              Idi doslovno svugdje.
              <br />
              Od bilo gdje.
            </h2>
          </ion-text>
          <ion-text class="ion-text-center">
            <h4>1.Ideš nekamo?</h4>
          </ion-text>
          <ion-text class="ion-text-center" color="medium">
            <p>
              Brzo ćeš pronaći ljude koji prolaze kraj tebe i putuju u tvom
              pravcu zato što imaš pristup milijunima putovanja.
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
