<ion-content>
  <div class="hero-section ion-padding">
    <ion-text class="ion-text-center">
      <h2 class="fw-bold text-white">Tvoj prijevoz. Tvoj izbor.</h2>
    </ion-text>
    <ion-card class="from-to-container">
      <ion-card-content>
        <ion-item detail (click)="presentModal('start')">
          <ion-icon class="me-2" name="location-outline" color="secondary"></ion-icon>
          <ion-input type="text" placeholder="Polazište" value="{{start}}" readonly>
          </ion-input>
        </ion-item>
        <ion-item detail (click)="presentModal('dest')">
          <ion-icon class="me-2" name="location-outline" color="main"></ion-icon>
          <ion-input type="text" placeholder="Odredište" value="{{destination}}" readonly>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon class="me-2" name="calendar-outline" color="main"></ion-icon>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Datum"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-icon class="me-2" name="people-outline" color="main"></ion-icon>
          <ion-input type="number" placeholder="Broj putnika" min="1"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="getTestRide()" color="main">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="ion-padding mt-5">
    <ion-text class="ion-text-center">
      <h2 class="fw-bold">Kamo voziš?</h2>
    </ion-text>
    <ion-text>
      <p>Neka ovo bude tvoje najmanje skupo putovanje u povijesti.</p>
    </ion-text>
    <ion-button shape="round" fill="solid" expand="block" color="main" routerLink="/ride-publish">Ponudi prijevoz
    </ion-button>
  </div>

  <div class="ion-padding rides-container">
    <app-common-drives></app-common-drives>
  </div>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="ion-text-center">
            <h2 class="fw-bold">
              Idi doslovno svugdje.
              <br />
              Od bilo gdje.
            </h2>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let text of helpTexts, let i = index">
        <ion-col>
          <ion-text class="ion-text-center">
            <h4>{{i+1}}. {{text.heading}}</h4>
          </ion-text>
          <ion-text class="ion-text-center" color="medium">
            <p>{{text.body}}</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text class="ion-text-center">
            <h2 class="fw-bold">3 razloga zbog kojih ćeš voljeti Kudces.ba</h2>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let text of reasonsTexts, let i = index">
        <ion-col>
          <ion-text>
            <ion-icon name="{{text.icon}}" size="large" class="d-block m-auto">
            </ion-icon>
          </ion-text>
          <ion-text class="ion-text-center">
            <h4>{{text.heading}}</h4>
          </ion-text>
          <ion-text class="ion-text-center" color="medium">
            <p>{{text.body}}</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-padding ">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button routerLink="/drives-search" color="main" shape="round">Pronađi prijevoz
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button color="main" shape="round" fill="outline">Ponudi prijevoz
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>
