<ion-content>
  <ion-list>
    <ion-item lines="none">
      <h2 class="fw-bold">Na koji se način želiš registrirati?</h2>
    </ion-item>
    <!-- <ion-item>
      <ion-text>Nastavi s Facebookom</ion-text>
    </ion-item> -->
    <ion-item routerLink="email" lines="none" detail>
      <ion-text>
        Nastavi s e-poštom
      </ion-text>
    </ion-item>
    <ion-item routerLink="/login/email" lines="none" detail>
      <ion-text class="me-1"> Već si član? </ion-text>
      <ion-text color="main">
        Prijavi se
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
