<ion-content class="ion-padding">
  <h2>Na koji se način želiš registrirati?</h2>
  <ion-list>
    <ion-item>
      <ion-text>Nastavi s Facebookom</ion-text>
    </ion-item>
    <ion-item>
      <ion-text [routerLink]="['email']" routerLinkActive="router-link-active">
        Nastavi s e-poštom
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text class="me-1"> Već si član? </ion-text>
      <ion-text [routerLink]="['/login/email']" routerLinkActive="router-link-active" color="primary">
        Prijavi se
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
